/* Style the navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

#date-header {
  cursor: pointer;
}

.sighting-row:hover {
  background-color: gainsboro;
  cursor: pointer;
}

/*td > img {*/
/*  width: 12em;*/
/*  height: auto;*/
/*}*/

footer {
  overflow: hidden;
  background-color: #333;
  padding: 14px 20px;
}

footer p {
  color: white;
}

body {
  padding: 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
  height: 300px;
  width: 600px;
}

#sightings_table {
  width: 95%;

}

#sightings_table td {
  text-align: center;
  padding: 1em;
}

#sightings_table img {
  max-width: 50%;
  height: auto;
}

/*
* Scrollable chat window
 */
#history {
  height: 300px;
  width: 600px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}

.bottom {
  position: absolute;
  bottom: 10px;
  width: 90%;
}